{
  "swagger": "2.0",
  "info": {
    "title": "api/crypto-facade/crypto-facade.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "CryptoFacade"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/accept-crypto": {
      "post": {
        "operationId": "CryptoFacade_AcceptCrypto",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/crypto_facadeAcceptCryptoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/crypto_facadeAcceptCryptoRequest"
            }
          }
        ],
        "tags": [
          "CryptoFacade"
        ]
      }
    }
  },
  "definitions": {
    "crypto_facadeAcceptCryptoRequest": {
      "type": "object",
      "properties": {
        "chain": {
          "$ref": "#/definitions/crypto_facadeChain"
        },
        "token": {
          "$ref": "#/definitions/crypto_facadeToken"
        }
      }
    },
    "crypto_facadeAcceptCryptoResponse": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        }
      }
    },
    "crypto_facadeChain": {
      "type": "string",
      "enum": [
        "UNKNOWN_CHAIN",
        "POLYGON"
      ],
      "default": "UNKNOWN_CHAIN"
    },
    "crypto_facadeToken": {
      "type": "string",
      "enum": [
        "UNKNOWN_TOKEN",
        "MATIC"
      ],
      "default": "UNKNOWN_TOKEN"
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  },
  "host": ".fidesy.xyz:7070",
  "schemes": [
    "http"
  ]
}
